/* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ========================= Css Variables Start ======================== */
:root {
  /* Font Family */
  --heading-font: "DM Sans", sans-serif;
  --body-font: "Inter", sans-serif;

  /* ========================= Theme Color Start ============================= */
  @include colorVariable(--base, #c8ff03, 10);

  @include colorVariable(--base-two, #0f8f62, 10);
  /* ========================= Theme Color End ============================= */

  /* ========================= Color Variables Start =========================== */
  // White Color
  @include colorVariable(--white, #ffffff);

  // Body Color
  @include colorVariable(--body-color, #525866);

  // Body BG
  @include colorVariable(--body-bg, #ffffff);

  // heading-color
  @include colorVariable(--heading-color, #101213);

  // Black Color
  @include colorVariable(--black, #101213);

  //Border Color
  @include colorVariable(--border-color, #1012131a);

  // Section Background
  @include colorVariable(--section-bg, #f4f7f2);

  /* ================================ Box Shadow Start =============================== */
  --box-shadow: 0px 2px 15px hsl(var(--black) / 0.05);
  /* ================================ Box Shadow End =============================== */

  /* ============================== Bootstrap Modifier Start ============================== */
  /* Primary Color */
  @include colorVariable(--primary, #0007cc, 5);

  /* Secondary Color */
  @include colorVariable(--secondary, #6d767e, 5);

  /* Success Color */
  @include colorVariable(--success, #1bcc00, 5);

  /* Danger Color */
  @include colorVariable(--danger, #fb4646, 5);

  /* Warning Color */
  @include colorVariable(--warning, #eb9c00, 5);

  /* Info Color */
  @include colorVariable(--info, #00bbff, 5);

  /* ============================== Bootstrap Modifier End ============================== */

  /* ============================== Dark Mood Color Modify Start ============================== */
  // [data-theme='dark'] {
  //   // Reverse White
  //   @include colorVariable(--white, #f8fafc);

  //   // Reverse Black
  //   @include colorVariable(--black, #101213);
  // }

  /* ============================== Dark Mood Color Modify End ============================== */
}

/* ========================= Css Variables End =========================== */
