/* ====================== Breadcrumb Css Start ==================== */
.breadcrumb {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding-top: 150px;
  padding-bottom: 100px;
  overflow: hidden;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: hsl(var(--black) / 0.8);
    backdrop-filter: blur(5px);
  }

  &__bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;

    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
    color: hsl(var(--white));
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  &__item {
    color: hsl(var(--black));
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;

    &-dot {
      width: 6px;
      height: 6px;
      background-color: hsl(var(--base));
      border-radius: 50%;
    }

    &-text {
      color: hsl(var(--base));
    }
  }

  &__link {
    color: hsl(var(--white));
    font-weight: 500;

    &:hover {
      color: hsl(var(--base));
    }
  }
}

/* ====================== Breadcrumb Css End ==================== */